*{
    font-family: 'Roboto', sans-serif;
}

.content {
    /* rem é uma medida maleavel que se adapta ao browser que o usuário estiver usando */
    padding: 1rem;

}


ol.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    /* grid layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ol.pokemons li {
   height: 100px;
    margin: .5rem;
   padding: 2rem 1rem;
   background-color: #14a06f;
   color: #ffffff;
    border-radius: 1rem;
}


